@font-face 
  font-family: "EBGaramond-Regular"
  src: url("/font/EBGaramond-Regular/EBGaramond-Regular.ttf") 

@font-face 
  font-family: "RobotoSlab"
  src: url("/font/RobotoSlab/RobotoSlab-VariableFont_wght.ttf")    

.body
    font-family: "RobotoSlab"

.general
    padding-right: 0
    padding-left: 0
    background-color: #24252D
    // width: 315px
    margin-right: 0px

    .example
        padding: 30px 7px
        height: 100px
        background-color: #2D2E39
        .search_text
            border: 1px solid #2D2E39
            background-color: #2D2E39
            color: #6E7375
            font-size: 20px
            &:focus
            outline: none
        .fa-search
            color: white


.menu-left
    background-color: #24252D
    padding: 20px 0
    line-height: 60px
    font-family: "RobotoSlab"
    .menu-item
        .menu-link
            text-align: center
            color: #fff
            text-decoration: none
            padding: 0 20px
            font-size: 18px
            letter-spacing: 1px
            &:hover
                color: #53476C
        .line-menu
            width: 180px
            text-align: center
            padding-left: 12px
            color: #000
            height: 2px

.dropdown
    .btn-secondary
        border: none
        color: #ffffff
        background-color: #24252D
        text-decoration: none
        padding: 10px 20px
        font-size: 18px
        &:hover
            color: #53476C
    .dropdown-menu
        background-color: #2D2E39
        padding: 0.5rem 20px
        &:hover
            font-size: 10px
        .submenu-link
            background-color: #2D2E39
            color: #fff
            text-align: left
            font-size: 14px
      
.slide
    background-color: #1E1F25
    padding: 10px
    color: #fff
.carousel-indicators
    li
        &:active
        background-color:  #53476C !important
        margin: -20px 10px
        width: 12px
        height: 12px
  


.slide
    .carousel-indicators
        .carousel-color
    .carousel-inner
        padding: 0 10px
    .carousel-item
        .carousel-caption
            color: black

.post
    margin: 12px 0
    background-color: #2D2E39


.second
    .container
        .big-image
            position: relative
            margin-top: 50px
            .img-bg
                width: 100%
                height: 500px
                .photo
                    object-fit: cover
                    display: block
                    width: 100%
        .big-text
            width: 400px
            height: 320px
            background-color: #fff
            position: absolute
            top: 50%
            left: 30%
            transform: translate(-50%, -50%)
            padding: 20px
            .img-header
            .ramayana
                color: #535BA0
            .big-text
            .img-title
                color: #AAAAB4
            .img-text
                color: #AAAAB4
                font-size: 16px
                .dark
                    color: #726b6b
                    font-weight: 500

.line-menu
    width: 180px
    text-align: center
    padding-left: 12px
    color: #000
    height: 2px
  

.col-9
    padding-left: 0
    .float-start   
    .fa-bars
        display: inline-block
        color: #ffffff
        font-size: 40px
        position: fixed
        z-index: 44
        background-color: rgba(83,91,160, 0.7)
        padding: 25px
    .ramayana-text
        background-color: #535BA0
        color: #ffffff
        height: 100px
        width: 80vw
        .float-end
            color: #ffffff
            text-decoration: none
            font-size: 40px
            font-weight: bolder
            margin-right: 80px
            padding: 18px

.btn-primary
        border: 1px solid #535BA0
        background-color: #ffffff
        color: #535BA0
        border-radius: 0
        font-weight: 500
        font-size: 16px
        display: inline-block
        &:hover
            background-color: #535BA0 
            color: #ffffff
.about-programs
    .container
        .colorful       
            .design
                text-align: center
                margin-top: 50px
                padding: 50px
                background-color: #EAEBEF
                height: 300px
                transition: all .2s ease-in-out
                color: #7A7E81
                &:hover
                    background-color: #535BA0
                    color: #fff
                .elements
                    font-size: 50px 
                    &:hover
                        color: #fff
                .information
                .pexels
                    color: #007BFF
                    text-decoration: none
.line
    hr
    height: 2px
    margin: 60px 10px
    background-color: #EEEEEE
.chambray
    .container
        .cambray_comman
    .card-text
        color: #7A7A7A
        font-size: 15px
.raclette
    .row
        .col-6
            padding-left: 20px
            margin: 0 auto
        .part
            .left
                width: 100%
            .lorem
                color: grey
                font-size: 16px
                letter-spacing: 2

@media screen and (min-width: 320px) and (max-width:586px)
    .second
        .container
            .big-image
                position: relative
                margin-top: 50px
                .img-bg
                    width: 100%
                    height: 500px
                    .photo
                        object-fit: cover
                        display: block
                        width: 100%
            .big-text
                width: 300px
                height: 320px
                top: 40% !important
                left: 50% !important
                transform: translate(-50%, -50%)
                padding: 20px
                .img-header
                .ramayana
                    color: #535BA0
                .big-text
                .img-title
                    color: #AAAAB4
                .img-text
                    color: #AAAAB4
                    font-size: 14px
                    .dark
                        color: #726b6b
                        font-weight: 400

@media screen and (min-width:473px) and (max-width:587px)
    .second
        .container
            .big-image
                position: relative
                margin-top: 50px
                .img-bg
                    width: 100%
                    height: 500px
                    .photo
                        object-fit: cover
                        display: block
                        width: 100%
            .big-text
                width: 250px
                height: 350px
                top: 40% !important
                left: 50% !important
                transform: translate(-50%, -50%)
                padding: 20px
                .img-header
                .ramayana
                    color: #535BA0
                .big-text
                .img-title
                    color: #AAAAB4
                .img-text
                    color: #AAAAB4
                    font-size: 12px
                    .dark
                        color: #726b6b
                        font-weight: 300

@media screen and (min-width: 662px) and (max-width: 801px)
    .second
        .container
            .big-image
                .img-bg
                    .photo
                        object-fit: cover
                        display: block
                        width: 100%
            .big-text
                width: 370px
                height: 320px
                top: 40% !important
                left: 52% !important
                transform: translate(-50%, -50%)
                

@media screen and (min-width: 802px) and (max-width: 972px)
    .second
        .container
            .big-image
                position: relative
                margin-top: 50px
                .img-bg
                    width: 100% 
                    height: 500px
                    .photo
                        object-fit: cover
                        display: block
                        width: 100%
            .big-text
                width: 365px
                height: 320px
                top: 33% !important
                left: 40% !important
                transform: translate(-50%, -50%)
                padding: 20px
                .img-header
                .ramayana
                    color: #535BA0
                .big-text
                .img-title
                    color: #AAAAB4
                .img-text
                    color: #AAAAB4
                    font-size: 16px
                    .dark
                        color: #726b6b
                        font-weight: 400



@media screen and (min-width: 973px) and (max-width: 1054px)
    .second
        .container
            .big-image
                position: relative
                margin-top: 50px
                .img-bg
                    width: 100% 
                    height: 500px
                    .photo
                        object-fit: cover
                        display: block
                        width: 100%
            .big-text
                width: 400px
                height: 320px
                top: 40% !important
                left: 40% !important
                transform: translate(-50%, -50%)
                padding: 20px
                .img-header
                .ramayana
                    color: #535BA0
                .big-text
                .img-title
                    color: #AAAAB4
                .img-text
                    color: #AAAAB4
                    font-size: 16px
                    .dark
                        color: #726b6b
                        font-weight: 400

@media screen and (min-width: 720px ) and (max-width: 861px)
    .example
            padding: 30px 7px
            height: 100px
            .search_text
                font-size: 20px
    .menu-left
        background-color: #24252D
        padding: 20px 0
        line-height: 50px
        font-family: "RobotoSlab"
        .menu-item
            .menu-link
                padding: 0 14px
                font-size: 14px
                letter-spacing: 0
                &:hover
                    color: #53476C
            .line-menu
                width: 180px
                text-align: center
                padding-left: 12px
                color: #000
                height: 2px
        .dropdown-menu
            background-color: #2D2E39
            padding: 0.5rem 10px
            .submenu-link
                font-size: 14px
 


@media screen and ( max-width: 719px)
    .menu-left
        .menu-item
            .line-menu
                width: 80px 
            
    